#calculator {
    width: 500px;
    height: 350px;
    border: 3px solid DarkTurquoise;
    margin: 80px auto 0;
    text-align: center;
    background: linear-gradient(to top, #FFFFFF, Aqua); /*фон градиент*/
    border-radius: 4px;
}

#display{
	margin-top: 40px; /*отступ поля дисплея от рамки калькулятора*/
	margin-bottom: 20px;/*отступ поля дисплея от кнопок калькулятора*/
	width: 400px;
    height: 60px;
	border: 2px solid DarkTurquoise;
	background:#FFFFFF;
	text-align: right;
	font: 30px bold;
    color: Navy;
	border-radius: 4px;
	box-shadow:0px 0px 10px DarkTurquoise;
}

#keys{ /*стиль кнопок*/
	margin: 5px 5px; 
	width: 90px;
    height: 30px;
	border: 2px solid #FFD700;
	text-align: center;
	font: 20px bold;
    color: Navy;
	background:#FFFFFF;	
	cursor: pointer;
	box-shadow:0px 0px 10px #FFD700;
}

#keys:hover{
	background:Aqua;
	border: 2px solid DarkTurquoise;
	font-weight: 600; /*насыщенность шрифта*/
}

#keys_number{ /*стиль кнопок*/
	margin: 5px 5px; 
	width: 90px;
    height: 30px;
	border: 2px solid DarkTurquoise;
	text-align: center;
	font: 20px bold;
    color: Navy;
	background:#FFFFFF;	
	cursor: pointer;
	box-shadow:0px 0px 10px DarkTurquoise;
}

#keys_number:hover{
	background:SpringGreen;
	border: 2px solid DarkTurquoise;
	font-weight: 800; /*насыщенность шрифта*/
}

#equal{
	margin: 5px 5px; 
	width: 90px;
    height: 30px;
	border: 2px solid #FFD700;
	text-align: center;
	font: 20px bold;
    color: Navy;
	background:#FFFFFF;	
	cursor: pointer;
}
#equal:hover{
	background:Yellow;
	font-weight: 600; /*насыщенность шрифта*/
    border: 2px solid DarkTurquoise;
}